h1,
h2,
h3,
h4 {
  font-family: Playfair;
  text-transform: uppercase;
  font-weight: 100;
}

h4 {
  font-size: smaller;
}

p {
  font-family: Montserrat;
  font-size: small;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../img/white-wood.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 20px;
  background-color: transparent;
  position: relative;
}

header img {
  max-width: 100px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 50px;
  white-space: nowrap;
  margin-left: 100px; /* Add a margin to separate from the logo */
}

nav::before,
nav::after {
  content: "";
  height: 1px;
  background-color: #000;
  position: absolute;
  width: calc(100% + 100px);
  left: -20px;
  right: -20px;
}

nav::before {
  top: 0;
}

nav::after {
  bottom: 0;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

/* Banner Styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Anchor the content to the bottom */
  overflow: hidden; /* Hide overflow for cropped images */
  height: 300px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Set a background color for the banner */
  background-image: url("../img/banner-image.jpg"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; /* Anchor the image to the bottom */
}

.banner-images {
  width: 120%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner img {
  width: 120%;
  height: 120%;
  object-fit: cover; /* Crop and scale the image as needed */
}

/* Reservation Form Styles */
.reservation-form {
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group {
  flex: 1;
}

/* Style for input fields */
input[type="date"],
input[type="number"] {
  font-family: Montserrat;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Style for select dropdown */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  appearance: none; /* Remove default dropdown arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23ccc" d="M8 12.22L12.39 7.83a1 1 0 10-1.41-1.41L8 9.4 4.02 5.42a1 1 0 00-1.45 1.38l4.42 4.42a1 1 0 001.42 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  font-family: Montserrat;
}

/* Style for the "Find a Table" button */
button {
  padding: 10px 20px;
  background-color: #123c43;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Remove default button focus outline */
button:focus {
  outline: none;
}

/* Adjust the width of form elements as needed */
label,
select,
input {
  width: 100%;
}

.group-dining,
.about,
.reservation {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of the elements on mobile */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.group-dining-content,
.about-content,
.reservation-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-dining-text,
.wine-dinner-text,
.about-text,
.reservation-text {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.aba-button {
  font-family: Playfair;
  font-weight: 100;
  font-size: small;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #123c43;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Position the image to the right */
  align-items: center;
}


.group-dining img,
.about img,
.reservation img {
  max-width: 200px; /* Adjust the width as needed */
  height: auto;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .group-dining-content,
  .about-content,
  .reservation-content {
    flex-direction: column;
  }

  .group-dining-text,
  .about-text,
  .reservation-text {
    text-align: center;
  }
}

/* Wine Dinner Section */
.wine-dinner {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of the elements on mobile */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wine-dinner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wine-dinner img {
  max-width: 200px; /* Adjust the width as needed */
  height: auto;
}

/* Footer Styles */
.footer {
  background-image: url("../img/Aba-wood-1.jpg");
  background-size: cover;
  color: #fff;
  padding: 20px;
  text-align: right;
}

/* Add more styles
