/* General Styles */
body {
  font-family: Playfair, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: lighter;
}

h4 {
  font-size: smaller;
}

p {
  font-family: Montserrat, Arial, sans-serif;
  font-size: small;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../img/white-wood.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  background-color: transparent;
}

header img {
  max-width: 150px;
  height: auto;
  margin-right: 50px;
  flex-shrink: 0;
}

nav {
  font-size: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 60px;
  padding-right: 50px;
  padding-left: 50px;
}

nav h4 {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000;
}

/* Adding the underline animation to indicate visually when a link is selected */
nav h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #4c4944;
  transition: width 0.4s;
}

nav h4:hover::before {
  width: 100%;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

/* Banner styling */
.banner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.banner-images {
  display: flex;
  gap: 20px;
  max-height: 575px;
}

/* Banner image styling */
.banner-image-left {
  max-width: 40%;
  height: auto;
  object-fit: none;
  object-position: 35% 90%;
}

.banner-image-right {
  max-width: 60%;
  height: auto;
  object-fit: cover;
}

/* Body image styling */
.body-image, .body-image-closeup {
  width: 340px;
  height: 325px;
  object-fit: cover;
  overflow: hidden;
}

.body-image-closeup {
  object-fit: none;
}

.body-image img, .body-image-closeup img {
  width: 100%;
  height: 100%;
}

/* Reservation form styling */
.form-group {
  display: inline-block;
  margin-right: 0%;
}

input[type="text"], input[type="email"], input[type="tel"], select, input[type="date"] {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

input[type="text"], input[type="email"], input[type="tel"], select {
  width: 180px;
  height: 34px;
}

input[type="date"] {
  width: 180px;
  height: 32px;
}

select {
  appearance: none;
}

/* Form button styling (Must be distinct from other page button styling) */
#submit-request, #submit-customer-info {
  font-family: "Montserrat";
  font-size: 12px;
  border-radius: 2px;
  background-color: #123c43;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 36px;
}

/* Styling additional body content */
.group-dining, .about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.group-dining-content, .about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-dining-text, .wine-dinner-text, .about-text, .reservation-content {
  text-align: center;
  width: 90%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;

}

/* font-size: 0px to remove drop-down arrows AND conceal field labels */
.reservation-request, .reservation-info {
  font-size: 0px;
}

.reservation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wine Dinner Section */
.wine-dinner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wine-dinner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Button styling to be used in body */
.aba-button {
  font-family: Playfair;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 60px;
  background-color: #123c43;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer Styles */
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Aba-wood-1.jpg");
  background-size: cover;
  color: #fff;
  padding: 20px;
  text-align: left;
  font-size: small;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: right;
  flex: 1;
}

/* Style text in columns in footer*/
.footer-column {
  text-align: left;
  width: 100%;
  padding: 20px;
  margin-right: 50px;
}

.footer-column h3 {
  margin-bottom: 0px;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

/* Adding Navbar menu hover effect to Footer links*/
.footer-column a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.4s;
}

.footer-column a:hover::before {
  width: 100%;
}

.footer-column p {
  font-size: small;
  margin: 5px 0;
}

.footer-menu {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  position: relative;
}

.footer-menu a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.4s;
}

.footer-menu a:hover::before {
  width: 100%;
}

/* Styling for larger mobile/tablet @ 1024px 
Might need a smaller breakpoint if we're accounting for old devices */
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    margin: 10px;
  }

  header img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0;
  }

  nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
    padding-right: 20px; 
    padding-left: 20px; 
  }

  .banner-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 575px;
  }

  .banner-image-left {
    max-width: 40%;
    height: auto;
    object-fit: cover;
  }

  .banner-image-right {
    max-width: 60%;
    height: auto;
    object-fit: cover;
  }

  .form-group {
    display: flex;
    flex-direction: row;
  }

  input[type="text"], input[type="email"], input[type="tel"], select {
    width: 200px;
  }

  input[type="date"] {
    width: 197px;
  }

  select {
    appearance: none;
  }

  #submit-request {
    width: 100%;
  }

  #submit-customer-info {
    width: 100%;
  }

  .footer-column {
    text-align: left;
    margin-right: 0;
  }
}

/* phones/average mobile devices */
@media (max-width: 768px) {
  header img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    flex-shrink: 0;
  }

  nav {
    font-size: 12px;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .banner-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 575px;
  }

  .banner-image-left {
    max-width: 40%;
    height: auto;
    object-fit: cover;
  }

  .banner-image-right {
    max-width: 60%;
    height: auto;
    object-fit: cover;
  }

  .body-image, .body-image-closeup {
    width: 400px;
    height: 100px;
  }

  .group-dining-content, .wine-dinner-content, .about-content {
    flex-direction: column-reverse;
  }

  .group-dining-content .image-container, .wine-dinner-content .image-container, .about-content .image-container {
    order: 1;
    margin-bottom: 45px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  input[type="text"], input[type="email"], input[type="tel"], select {
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
  }

  input[type="date"] {
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    width: 197px;
    height: 33px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
  }

  select {
    appearance: none;
  }

  #submit-request {
    width: 100%;
  }

  #submit-customer-info {
    width: 100%;
  }

  .footer-column {
    text-align: left;
    margin-right: 0;
  }
}

/* VERY small screens - old devices, probably, but they're still in use */
@media (max-width: 389px) {
  header img {
    max-width: 60px;
  }
  
  .banner-images {
    display: flex;
    flex-direction: row;
    max-height: 150px;
  }
 
  .footer-column h3 {
    margin-bottom: 0px;
    font-size: small;
  }
  .footer-column p {
    font-size: 11px;
  }
}
